.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    background-clip: border-box;
}

.footer p {
    text-align: center;
    color: white;
}